body {
  color: #6a859c;
  background-color: #edeff2;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  color: #676770;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

h3 {
  color: #676770;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  color: #676770;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.button {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #69b9ff;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.button.tab {
  background-color: #92a0ad;
  margin-left: 8px;
  margin-right: 8px;
}

.button.tab:hover, .button.tab.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  color: #676770;
  transition: all .3s ease-in-out;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-bar {
  background-color: #fff;
}

.brand-text {
  color: #69b9ff;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  text-align: center;
  background-color: #fff;
  padding: 40px 5%;
  font-family: PT Serif, serif;
  font-size: 11px;
  position: relative;
}

.section.accent {
  background-color: #192024;
}

.white-box {
  text-align: center;
  background-color: #fff;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  padding: 15px;
}

.white-box.transparent {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  text-align: center;
  background-image: radial-gradient(circle closest-corner, rgba(0, 0, 0, .69) 58%, rgba(255, 250, 250, .1)), url('../images/city-4317139_1280.jpg');
  background-position: 0 0, 50% 0;
  background-repeat: repeat, repeat;
  background-size: auto, cover;
  border-bottom: 4px solid #69b9ff;
  padding-top: 62px;
  padding-bottom: 62px;
}

.hero-heading {
  color: #fff;
  letter-spacing: 4px;
  margin-bottom: 30px;
  font-family: PT Serif, serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
}

.hero-subheading {
  outline-offset: 0px;
  color: #c9dcec;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgba(240, 248, 255, 0);
  text-transform: uppercase;
  text-shadow: none;
  white-space: normal;
  mix-blend-mode: normal;
  border: 1px #000;
  border-radius: 0;
  outline: 11px #192024;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
}

.hollow-button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s, border .3s, color .3s;
  display: inline-block;
}

.hollow-button:hover {
  color: #2e9dff;
  border-color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #676770;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading.center {
  color: #8e8e9c;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  font-size: 18px;
  font-weight: 300;
}

.section-subheading.center.off-white {
  color: #e8e8e8;
  text-transform: none;
  padding-bottom: 0;
}

.section-title-group {
  margin-bottom: 60px;
}

.form-field {
  height: 45px;
  border: 0 solid #000;
  border-radius: 3px;
  margin-bottom: 17px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  margin-left: 0;
  margin-right: 0;
  padding: 35px 5%;
}

.footer.center {
  text-align: center;
  background-color: #192024;
  border-top: 1px solid #dbdbdb;
  margin-left: 0;
  margin-right: 0;
}

.footer-text {
  color: #9e9e9e;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.grid-image {
  width: 35%;
  background-color: #69b9ff;
  border: 10px solid #fff;
  border-radius: 50%;
  margin: 20px auto;
  padding: 20px;
  display: block;
  box-shadow: 0 0 0 1px #2e9dff;
}

.info-icon {
  float: left;
}

.footer-link {
  color: #668cad;
  border-bottom: 1px solid #d5d5e0;
  margin-bottom: 6px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  text-align: center;
  margin-bottom: 40px;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  opacity: .83;
  filter: blur(1px);
  margin-bottom: 20px;
}

.textalb {
  color: #fff;
  text-align: justify;
  text-indent: 22px;
  margin-bottom: 20px;
  padding-left: 0;
}

.form {
  margin-top: 40px;
}

.rich-text-block {
  padding-left: 5%;
  padding-right: 5%;
  font-family: PT Serif, serif;
  font-size: 4px;
  font-weight: 700;
}

.container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.paragraph {
  text-indent: 30px;
  font-family: PT Serif, serif;
  font-style: normal;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.descriere-container {
  text-align: center;
  font-size: 33px;
  line-height: 33px;
}

.rich-text-block-2 {
  display: block;
}

.image {
  float: left;
  clear: both;
  display: block;
}

.paragraph-2 {
  float: none;
  display: block;
  position: static;
}

.div-block {
  display: block;
}

.team-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.floatleftimg {
  float: left;
}

.rowlefticon {
  margin-left: 5%;
  margin-right: 5%;
}

.paragwithlefticon {
  margin-left: 83px;
  display: block;
}

.floatrightimg {
  float: right;
}

.parawithrighticon {
  margin-right: 78px;
}

.divider {
  width: 80px;
  height: 2px;
  background-color: #fff;
  margin: 28px auto;
  display: block;
}

.divider.grey {
  background-color: rgba(0, 0, 0, .09);
  margin-bottom: 43px;
}

.grey-icon-wrapper {
  background-color: #7493ad;
  margin-bottom: 38px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grey-icon-wrapper.push-top {
  color: #6a859c;
}

.big-icon {
  opacity: .89;
  filter: invert();
  border: 0 #f3e5e5;
}

.titlualb {
  color: #8fb6d8;
  text-align: center;
}

.paratoptech {
  text-align: justify;
  text-indent: 20px;
}

.paragraph-4, .paragraph-5 {
  text-align: justify;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    color: rgba(255, 255, 255, .52);
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .hamburger-button.w--open, .navigation-menu {
    background-color: #3b99d9;
  }

  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }

  .textalb {
    text-align: justify;
  }

  .container-2 {
    max-width: 728px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .paratoptech {
    text-align: justify;
  }
}

@media screen and (max-width: 767px) {
  .button.full-width {
    margin-left: auto;
    margin-right: auto;
  }

  .button.tab {
    font-size: 12px;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }

  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .form-field.text-area {
    display: block;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .spc {
    margin-bottom: 30px;
  }

  .team-slider {
    padding: 60px 15px;
  }

  .grey-icon-wrapper {
    margin-bottom: 16px;
    padding: 34px 56px;
    display: inline-block;
  }

  .grey-icon-wrapper.push-top {
    margin-top: 30px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }

  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: PT Serif, serif;
  }

  .hero-subheading {
    font-family: PT Serif, serif;
  }

  .section-subheading.center {
    line-height: 30px;
  }

  .footer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  .grid-image {
    width: 35%;
  }

  .rich-text-block {
    padding-left: 5%;
    padding-right: 5%;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .grey-icon-wrapper {
    display: block;
  }
}


